html,
body,
.loginBox {
  height: 100%;
  width: 100%;
}
.dark {
  background-color: pink;
  color: red;
}
.dark .con p {
  color: aquamarine;
}
.loginBox {
  font-size: 0.16rem;
  display: flex;
  flex-direction: column;
}
.loginBox .header {
  height: 0.55rem;
  line-height: 0.55rem;
  padding: 0 0.1rem;
}
.loginBox .header i {
  font-size: 0.2rem;
  font-weight: bold;
}
.loginBox .con {
  flex: 1;
  text-align: center;
}
.loginBox .con h1 {
  font-size: 0.28rem;
  margin-top: 1rem;
}
.loginBox .con p {
  margin: 0.2rem 0;
}
.loginBox .con #zhihu {
  font-size: 0.5rem;
  color: #2c4feb;
}
.loginBox .con #weibo {
  font-size: 0.5rem;
  color: #f08d30;
  padding-left: 0.1rem;
}
.loginBox .con .check {
  position: relative;
  margin-top: 0.1rem;
}
.loginBox .con .check #info {
  display: none;
}
.loginBox .con .check #info + label::before {
  content: "";
  display: inline-block;
  height: 0.18rem;
  width: 0.18rem;
  border-radius: 50%;
  border: 1px solid #ccc;
  position: absolute;
  top: 0.02rem;
  left: 0.06rem;
}
.loginBox .con .check #info:checked + label::after {
  content: "";
  display: inline-block;
  height: 0.12rem;
  width: 0.12rem;
  border-radius: 50%;
  background-color: #ccc;
  position: absolute;
  top: 0.06rem;
  left: 0.1rem;
}
.loginBox .footer {
  height: 0.8rem;
  display: flex;
  align-items: center;
  text-align: center;
}
.loginBox .footer p {
  flex: 1;
}
.loginBox .footer p i {
  font-size: 0.28rem;
}
